body {
    font-family: Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 300px;
    background-color: #fafafa;
}

p {
    font-size: 1em;
}

h1 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

select, button {
    border-radius: 25px;
    border: 1px solid #ddd; 
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

select{
    width: 100%;  
    box-sizing: border-box;
    margin-top: 10px;    
}

#upgrade {
    background-color: #2223B2;
    width: 100%;
    color: white;
}

#save {
    background-color: #2223B2;
    width: auto;
    color: white;  
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

#save:hover, #upgrade:hover {
    background-color: #1b1b86;
}

hr {
    border: 0.5px solid #2223B2;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Top banner*/
.top_banner {   
    display: flex;
    flex-flow: row nowrap; /* Align items in a row */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 10px;
}

.setting {
    cursor: pointer;
    height: auto;
    width: 15px;
}

/* Bottom banner*/
.bottom_banner {
    position: absolute;
    bottom: 0;
    width: 100%;   
    display: flex;
    gap: 10px;  
    align-items: center;
}

.logo {
    width: auto; 
    height: 20px;
}

h3 {
    color: #1b1b86;
    font-size: 1em;
}
