body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 250px;
    height: 200px;
    background-color: #fafafa;
}

p {
    font-size: 1em;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5em;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 1em;
}

#save {
    background-color: #2223B2;
    width: auto;
    color: white;
    cursor: pointer;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}

#save:hover {
    background-color: #1b1b86;
}


/* Bottom banner*/
.bottom_banner {
    position: absolute;
    bottom: 0;
    width: 100%;   
    display: flex;
    gap: 10px;  
    align-items: center;
}

.logo {
    width: auto; 
    height: 20px;
}

h3 {
    color: #1b1b86;
    font-size: 1em;
}
